* {
    background-color: #feeed5;
}

h1 {
    color: #786d5b;
    padding: 20px 20px 5px;
    box-sizing: border-box;
    font-size: 30px;
    font-family: "Arial Nova Regular", sans-serif;
    background-color: #fff;
}

.input_fields {
    color: #6c655d;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 550;
    font-family: "Arial Nova Regular", sans-serif;
}

.input_fields textarea,
.input_fields input {
    margin-top: 5px;
    margin-left: 20px;
    width: calc(100% - 40px);
    padding: 7px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
    font-family: "Arial Nova Regular", sans-serif;
}

p {
    margin-left: 20px;
    font-size: 14px;
    font-family: "Arial Nova Regular", sans-serif;
    color: #6c655d;
}

button {
    background-color: #388db2;
    color: #fff;
    font-family: "Arial Nova Regular", sans-serif;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    float: right;
    margin-right: 20px;
    font-weight: 550;
}