* {
    box-sizing: border-box;
}

body {
    background-color: #feeed5;
    font-family: "Arial Nova Regular", sans-serif;
    font-size: 14px;
    max-width: 740px;
    text-align: left;
    color: #6c655d;
}

.form {
    padding: 10px 20px 13px;
}

.title {
    padding: 20px 20px 5px;
    font-size: 30px;
    background-color: #fff;
    margin-bottom: 5px;
}

.input_field {
    font-weight: 550;
    width: 100%;
    color: #6c655d;
}

.input_field textarea,
.input_field input[type="text"] {
    padding: 10px 12px;
    margin-top: 10px;
    margin-bottom: 14px;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}


.input_field textarea {
    resize: vertical;
    font-family: "Arial Nova Regular", sans-serif;
    height: 110px;
}

.field-name {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin: 20px 0 8px;
}

.paragraph {
    margin-top: 20px;
    color: #847f7c;
}

.submit_button {
    background-color: #388db2;
    color: #fff;
    border: none;
    font-weight: 550;
    margin-top: 15px;
    cursor: pointer;
    padding: 8px 12px;
    float: right;
    max-width: 150px;
    width: 100%;
}

.submit_button:hover {
    background-color: #2a6f89;
}