body {
    background-color: #feeed5;
    font-family: "Arial Nova Regular", sans-serif;
    box-sizing: border-box;
}

.title {
    color: #786d5b;
    padding: 20px 20px 5px;
    box-sizing: border-box;
    font-size: 40px;
    background-color: #fff;
    margin-bottom: 20px;
}

.input_field {
    color: #6c655d;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 550;
    box-sizing: border-box;
}

.input_field textarea,
.input_field input {
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 30px;
    padding: 10px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #fff;
    width: 97%;
}

.input_field textarea {
    resize: vertical;
    font-family: "Arial Nova Regular", sans-serif;
    height: 150px;
}

input::placeholder,
textarea::placeholder{
    color: #b1b1b3;
}

.paragraph-style {
    margin-left: 20px;
    font-size: 20px;
    box-sizing: border-box;
    color: #847f7c;
}

.submit-button {
    background-color: #388db2;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 8px;
    float: right;
    margin-right: 30px;
    font-weight: 550;
    box-sizing: border-box;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #2a6f89;
}