* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #feeed5;
    line-height: 1.2;
    color: #786d5b;
    max-width: 750px;
}

.main-heading {
    font-size: 30px;
    margin: 5px 15px 10px;
}

.info {
    font-size: 17px;
    margin-left: 15px;
    font-family: Helvetica Neue, sans-serif;
}

.description {
    font-size: 15px;
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 15px;
    margin-top: 10px;
}

.heading {
    color: #378eb2;
    line-height: 1.5;
    font-weight: bold;
}

.line-through {
    text-decoration: line-through;
}