body {
    font-family: Arial, sans-serif;
    background-color: #feeed5;
    line-height: 1.4;
    margin: 10px 20px;
}

h1 {
    color: #786d5b;
    font-size: 55px;
    line-height: 1.2;
}

.info {
    color: #786d5b;
    font-family: Arial, serif;
    margin-bottom: 10px;
    font-size: 30px;
    box-sizing: border-box;
}

[description] {
    text-indent: 50px;
}

.heading {
    color: #538697;
    font-weight: bold;
    box-sizing: border-box;
}

.line-through {
    color: #786d5b;
    text-decoration: line-through;
    box-sizing: border-box;
}