* {
    box-sizing: border-box;
}

.container {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 20px;
    max-width: 750px;
    color: #388db2;
    padding: 10px;
    background-color: #f1eed9;
}

.converter_header {
    font-size: 25px;
    margin-bottom: 20px;
}

.convert_block {
    float: right;
    margin-right: 20px;
}

.results {
    margin-top: 20px;
}

.kelvin {
    padding-bottom: 5px;
}

.convert_button {
    background-color: #388db2;;
    color: floralwhite;
    border: none;
    font-weight: 550;
    font-size: 16px;
    cursor: pointer;
    margin-right: 110px;
    float: right;
    max-width: 150px;
    max-height: 200px;
}

.convert_button:hover {
    background-color: #4555ff;
}