* {
    box-sizing: border-box;
}

body {
    font-family: "Droid Sans Mono", sans-serif;
}

.table {
    border-collapse: collapse;
    max-width: 850px;
    width: 100%;
    font-size: 20px;
}

.table tr:nth-child(odd) {
    background: #f2f2f2;
}

.table tr:nth-child(even) {
    background: #fff;
}

.table th, .table td {
    border: 1px solid lightgrey;
    padding: 15px 10px;
    text-align: left;
}

.table th {
    background-color: #3597d9;
    color: #fff;
    text-align: left;
}

