* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.animal_head {
    margin-right: 10px;
    padding: 10px;
    color: #3454ff ;
    font-size: 35px;
}

.buttons {
    margin-right: 10px;
    padding: 10px;
}

.dog_button {
    background-color: #378eb2;
    font-size: 30px;
    margin-right: 40px;
}

.cat_button {
    background-color: #feeed5;
    font-size: 30px;
}

.cat_button:hover, .dog_button:hover {
    background-color: #2a6f89;
}